@page
@using GestionMarchePublic.Contracts
@using GestionMarchePublic.Services.Dtos
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@model GestionMarchePublic.Pages.Demands.Cards

@inject ITheme Theme
@inject IDemandAppService DemandService

@{
    Layout = Theme.GetLayout(StandardLayouts.Application);
    var demands = await DemandService.GetListAsync(new GetDemandListInput());
}

<div class="nk-block">
    <div class="row g-gs">
        @foreach (var demandsItem in demands.Items)
        {
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="card h-100">
                    <div class="card-inner">
                        <div class="project">
                            <div class="project-head">
                                <a href="html/apps-kanban.html" class="project-title">
                                    <div class="user-avatar sq bg-purple"><span>DD</span></div>
                                    <div class="project-info">
                                        <h6 class="title">@demandsItem.Title</h6>
                                        <span class="sub-text">@demandsItem.Description</span>
                                    </div>
                                </a>
                                <div class="drodown">
                                    <a href="#" class="dropdown-toggle btn btn-sm btn-icon btn-trigger mt-n1 me-n1" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <ul class="link-list-opt no-bdr">
                                            <li><a href="html/apps-kanban.html"><em class="icon ni ni-eye"></em><span>Details</span></a></li>
                                            <li><a href="#"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                            <li><a href="#"><em class="icon ni ni-check-round-cut"></em><span>Validate</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="project-details">
                                <p>@demandsItem.Description</p>
                            </div>
                            <div class="project-progress">
                                <div class="project-progress-details">
                                    <div class="project-progress-task"><em class="icon ni ni-check-round-cut"></em><span>0 Tasks</span></div>
                                    <div class="project-progress-percent">93.5%</div>
                                </div>
                                <div class="progress progress-pill progress-md bg-light">
                                    <div class="progress-bar" data-progress="93.5"></div>
                                </div>
                            </div>
                            <div class="project-meta">
                                <ul class="project-users g-1">
                                    <li>
                                        <div class="user-avatar sm bg-primary"><span>A</span></div>
                                    </li>
                                    <li>
                                        <div class="user-avatar sm bg-blue"><img src="./images/avatar/b-sm.jpg" alt=""></div>
                                    </li>
                                    <li>
                                        <div class="user-avatar bg-light sm"><span>+12</span></div>
                                    </li>
                                </ul>
                                <span class="badge badge-dim bg-warning"><em class="icon ni ni-clock"></em><span>5 Days Left</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div><!-- .nk-block -->